.image{
    height: 266px;

}
.card{
    padding:10px;
    margin-left: auto;
    margin-right: auto;
    height: 363px;
    width: 257px;
}


p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

  