.image {
    position: relative;
    height: 284px;
    width: 227px;
    right: 2vh;
}

.btn {
    margin-top: -25px;
    top: 22px;
    left: 10px;
    position: relative;
}

.btn-potision {
    position: relative;
    top: 5px;
}

#remove {
    margin-left: 4px;
}

@media (max-width:600px) {
    .image {
        right: 0vh;
    }
    
    .center {
        margin-left: auto;
        margin-right: auto;
    }
}